<div class="container">
	<div class="h-row">
     <h2>Select Language</h2>
    <ul class="ds-btn">
        <li>
            <a class="btn btn-lg btn-primary" href="/app/console/language/c">
            <span>C<br></span>
            <small>GCC compiler</small>
            </a> 
        </li>
        <li>
             <a class="btn btn-lg btn-primary" href="/app/console/language/cpp">
             <span>C++<br></span>
             <small>G++ Compiler</small>
             </a> 
        </li>
    </ul>
    
	</div>
</div>