textarea.form-control {
  border: 2px solid #eee;
}


div.container div.panel {
    width: 50%;
    margin: auto;
}


div.container div.form-group {
    display: flex;
} 

/*
div.editor {
    width: 70%;
}*/

.h-row {
  display: block;
  margin-left: 35%;
}

li {
  list-style-type: none;    
}

.ds-btn {
   display: flex;
   padding: 10px;
}

ul.ds-btn li {
    padding: 10px;
}